@font-face {
  font-family: Neue;
  src: url("../assets/font/NeueMontreal-Regular.otf");
}
@font-face {
  font-family: Neue-mediuem;
  src: url("../assets/font/NeueMontreal-Medium.otf");
}
@font-face {
  font-family: Neue-light;
  src: url("../assets/font/NeueMontreal-Light.otf");
}

@font-face {
  font-family: Neue-bold;
  src: url("../assets/font/NeueMontreal-Bold.otf");
}

@font-face {
  font-family: Neue-light-italic;
  src: url("../assets/font/NeueMontreal-LightItalic.otf");
}

@font-face {
  font-family: Neue-bold-italic;
  src: url("../assets/font/NeueMontreal-BoldItalic.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(212, 202, 201);
  --secondary-color: black;
  --tertiary-color: white;
}

/*
=================
Common Classes 
=================
*/

[data-scroll-container] {
  will-change: transform;
}

body {
  /* overflow-x: hidden; */
  background: var(--primary-color);
  font-family: Neue, sans-serif;
  user-select: none;
}

.container {
  max-width: 1995px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.row > * {
  padding: 0 15px;
}

.col-50 {
  width: 50%;
  padding: 0 15px;
}

.col-40 {
  width: 40%;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none !important;
}

h1,
.title {
  font-size: 10rem;
}

h2,
.title2 {
  font-size: 2.5rem;
}

h3,
.title3 {
  font-size: 2.2rem;
}

span {
  display: inline-block;
}

/*
===================
Header Section 
===================
*/

header {
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: Neue, sans-serif;
}

nav {
  display: flex;
  align-items: center;
}
.nav-logo {
  transform: none;
}

.nav-logo > a {
  font-size: 36px;
  text-transform: uppercase;
  font-family: Neue, sans-serif;
}

.nav-collapse {
  flex-grow: 2;
}

.nav-collapse > ul {
  margin-left: auto;
  width: fit-content;
}

.nav-collapse > ul > li {
  font-size: 24px;
  text-transform: uppercase;
}

/* 
=====================
    Banner Section
=====================
*/

.banner-section {
  min-height: 502px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: crosshair;
}

.banner-wrpr {
  padding: 40px 0;
  border-bottom: 2px solid var(--secondary-color);
}

.banner-wrpr > h1 {
  text-transform: uppercase;
  font-family: Neue;
}

.banner-wrpr > h1 > span[data-scroll] {
  color: var(--tertiary-color);
}

/*
=============
Direction Section 
=============
*/

.direction-section {
  padding: 15px 0;
}

.direction-section > div > div.row {
  justify-content: space-between;
}

.direction-content {
  font-size: 1.125rem;
  font-weight: 600;
  word-spacing: 5px;
  max-width: 320px;
}

.nav-links {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 2rem;
  font-family: Neue-medium;
  transition: all 0.3s linear;
}

.nav-links:hover {
  color: white;
}

.nav-links > span {
  margin-left: auto;
}

/* Speed Control */

#speed-control {
  padding: 200px 0;
}

.sc-img {
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  h1,
  .title1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 992px) {
  .col-40 {
    width: 100%;
  }
  .col-50 {
    width: 100%;
  }
  /* Direction Section */
  .direction-content {
    margin-bottom: 1.875rem;
  }
  /* Speed Control Section */
  .sc-content {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  h1,
  .title1 {
    font-size: 2.5rem;
  }
  /* Header Section */
  .nav-logo > a {
    font-size: 18px;
  }
  .nav-collapse > ul > li {
    font-size: 14px;
  }
  /* Direction Section */
}
